<div class="col-md-8">
    <!-- addscript -->
    <div class="addscript">
      <button type="button" class="fa fa-plus-circle fa-2x" (click)="checkClick1=!checkClick1"></button>
      <div class="input" [hidden]="checkClick1" >
        <form (submit)="addscriptSubmit()">
          <div class="form-group">
            <input type="text"
            class="form-control"
            [(ngModel)]="scriptAddedName" name="scriptAddedName"
            placeholder="Script name"
            required>
          </div>
          <input type="submit" class="btn btn-success btn-add-script" value="Add">
        </form>
      </div>
    </div>
    <!-- addscript -->

    <!-- script -->
    <div class="script">
      <div class="panel panel-primary panel-pricing">
        <div class="panel-heading">
          <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          <h3 class="scriptName">Sleep</h3>
          <div class="x-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row scirpt-body">
          <div class="col-md-4">
            <div class="time-date-picker">
              <div class="date-picker">
                <p>Date</p>
                <ic-datepicker (dateChange)="onDatepickerDateChange($event)"></ic-datepicker>
              </div>
              <div class="time-picker">
                <p>Time</p>
                <button class="btn" type="button" name="button" (click)="timePickerHidden=!timePickerHidden"></button>
                <div class="timepicker" [hidden]="timePickerHidden">
                  <timepicker [(ngModel)]="mytime"></timepicker>
                  <button class="btn btn-primary" type="button" name="button" (click)="showTime(mytime);timePickerHidden=true">Save</button>
                </div>
              </div>
              <div class="repeat">
                <p>Repeat</p>
                <input type="text" name="" value="">
              </div>
            </div>
          </div>
          <div class="col-md-8 deivce-picker">

            <!-- select room -->
            <div class="panel-body">
              <div class="panel-body-content">
                <div class="panel-body-icon">
                  <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="btn-group panel-body-btn">
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"> 1st Floor</a>
                  <ul class="dropdown-menu">
                    <li *ngFor="let floor of listOfFloors" (click)="selectFloor(floor)"><a> {{floor.name}}</a></li>
                  </ul>
                </div>
                <div class="panel-body-icon">
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>
                <div class="btn-group panel-body-btn">
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"> Bedroom</a>
                  <ul class="dropdown-menu">
                    <li *ngFor="let room of listOfRooms" (click)="selectRoom(room)"><a> {{room.name}}</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel-footer">
              <div class="list-group">
                <div class="device">
                  <div class="lights" >
                    <div class="light" (click)="light1=!light1">
                      <a class="list-group-item">Light 1</a>
                      <ui-switch [ngModel]="light1" size="medium-v2"></ui-switch><br>
                    </div>
                    <div class="light" (click)="light2=!light2">
                      <a class="list-group-item">Light 2</a>
                      <ui-switch [ngModel]="!light2" size="medium-v2"></ui-switch><br>
                    </div>
                    <div class="light" (click)="light3=!light3">
                      <a class="list-group-item">Light 3</a>
                      <ui-switch [ngModel]="light3" size="medium-v2"></ui-switch><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- select room -->

            <!-- select room -->
            <div class="panel-body">
              <div class="panel-body-content">
                <div class="panel-body-icon">
                  <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="btn-group panel-body-btn">
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"> 1st Floor</a>
                  <ul class="dropdown-menu">
                    <li *ngFor="let floor of listOfFloors" (click)="selectFloor(floor)"><a> {{floor.name}}</a></li>
                  </ul>
                </div>
                <div class="panel-body-icon">
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>
                <div class="btn-group panel-body-btn">
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"> Living room</a>
                  <ul class="dropdown-menu">
                    <li *ngFor="let room of listOfRooms" (click)="selectRoom(room)"><a> {{room.name}}</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel-footer">
              <div class="list-group">
                <div class="device">
                  <div class="lights" >
                    <div class="light" (click)="light4=!light4">
                      <a class="list-group-item">Light 1</a>
                      <ui-switch [ngModel]="light4" size="medium-v2"></ui-switch><br>
                    </div>
                    <div class="light" (click)="light5=!light5">
                      <a class="list-group-item">Light 2</a>
                      <ui-switch [ngModel]="!light5" size="medium-v2"></ui-switch><br>
                    </div>
                    <div class="light" (click)="light6=!light6">
                      <a class="list-group-item">Light 3</a>
                      <ui-switch [ngModel]="light6" size="medium-v2"></ui-switch><br>
                    </div>
                  </div>
                </div>
              </div>
              <div  [hidden]="saveBtnHidden" class="save">
                <button class="btn btn-primary btn-save" type="button" name="button" (click)="save()" >Save</button>
              </div>
              <div class="test">
              </div>
            </div>
            <!-- select room -->
          </div>

        </div>

      </div>
    </div>
    <!-- script -->
</div>
