.col-md-8{
  padding: 26px 0px 10px 42px;
}

/*add script*/
.addscript {
  margin: 8px 8px 8px 16px;
}


.fa {
  cursor: pointer;
  color: auto;
  background-color: inherit;
  border: 0px;
}


.fa-plus-circle {
  color: #93c54b;
  float: left;
  margin-right: 10px;
  padding-bottom: 35px;
}

input {
  height: 30px;
  margin-right: 10px;
}
/*add script*/

/*script*/

.script{
  margin-top: 50px;
}

.scriptName{
  margin-top: 10px;
  margin-left: 15px;
}

.row, .script-body{
  background-color: #f8f5f0;
  margin: 0;
  display: flex;
}

.scirpt-body>.col-md-4{
  padding: 40px 35px 0px 35px;
  background-color: #272c2f;
}

.ic-datepicker-container > input[readonly] {
    background: inherit;
}

.time-date-picker{
  color: white;
}

.date-picker>p{
  margin-bottom: 0;
}

.time-date-picker>*>p{
  font-size: 20px;
}

.time-date-picker>*>input{
  background-color: inherit;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid rgba(158, 158, 158, 0.55);
}

.time-picker, .repeat{
  margin: 20px 0;
}

.time-picker>p, .repeat>p{
  margin-bottom: -5px;
}

.time-picker>button{
  background-color: inherit;
  border-bottom: 1px solid rgba(158, 158, 158, 0.55);
  border-radius: 0;
  width: 88%;
}

.time-picker>button:focus{
  outline: none;
}

input:focus{
  outline: none;
}

.deivce-picker{
 margin: 0;
 padding: 0;
}

.panel {
  margin-bottom: 40px;
  min-width: 600px;
  border: 0px;
  border-radius: 0;
}

.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  height: 60px;
  border: 0;
  border-radius: 0;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 28px;
  float:left;
}

h3 {
  float:left;
}

.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  background-color: inherit;
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: inherit;
  font-size: 20px;
  color: #777777;
  padding: 2px;
  margin: 0px;
  text-align: left;
}

.x-icon{
  float: right;
}

.panel-body-content {
  margin-left: 15px;
}

.panel-body-btn{
  float: left;
}

.panel-body-icon{
  float: left;
  margin-top: 7px;
}

.floor-script{
  margin: 0px;
}

td{
  text-align: left;;
  text-transform: none;
}

.dropdown-toggle{
  background-color: inherit;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: lighter;
  text-transform: none;
  padding: 10px;
  float: left;
  color: #616161;
}

.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #000000;
    background-color: inherit;;
    border-color: inherit;
    border: 0px;
}

a {
  cursor: pointer;
  color: #383838;
}


.form-group{
  margin: 0;
}

.panel-footer{
  font-size: 13px;
  font-weight: 100;
  text-transform: none;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  color: #6a6a6a;
  vertical-align: middle;
}

.table>thead>tr>th, .table>tbody>tr>th{
  padding-left: 17px;
}

table {
  margin-bottom: 0px;
}

.kindOfLight>li>a {
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    text-transform: none;
    color: #575757;
}


.btn-save{
  height: 30px;
  line-height: 10px;
  margin-top: 15px;
}

.switch{
  float: right;
  margin-top: 9px;
}

.connect{
  float: right;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 15px;
}


.script{
  margin: 25px 15px 0px 25px;
}

.listOfscripts{
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

/*script*/


.modal-title {
  text-align: center;
}

.modal-body{
  margin: 0 auto;
  text-align: center;
}

.btn-modal {
  min-width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.form-group {
    float: left;
    margin-right: 20px;
}


.btn-add-script {
    line-height: 0;
}


.light, .sensor{
  width: 100%;
  height: 30px;
  padding: 12px 0 32px 20px;
  border-bottom: 1px solid #dfd7ca;
  cursor: pointer;
}

.light>a, .sensor>a {
  border: 0;
  font-size: 16px;
  float: left;
  padding: 0;
}

ui-switch{
  float: right;
  margin-right: 50px;
}
