<div class="col-sm-9">
  <flash-messages></flash-messages>
  <section>
          <div class="listOfDevices" *ngFor="let device of listOfDevices">
            <div class="device" *ngIf="device.deviceType=='LightingControl'">
              <app-lightingcontrol [lightingControl]="device"
                                   (deleteDeviceEvent)="getListOfDevices()">
              </app-lightingcontrol>
            </div>
            <div class="device" *ngIf="device.deviceType=='SensorModule'">
              <app-sensor-module [sensorModule]="device"
                                 (deleteDeviceEvent)="getListOfDevices()">
              </app-sensor-module>
            </div>
          </div>
  </section>
</div>
