.row{
  margin: 0px;
  margin-left: 44px;
  color: #5f5f5f;
  font-size: 17px;
}

.col-md-4{
  padding: 0px;
}

.device-name, .operator, .value{
  text-align: center;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    min-width: 242px;
    overflow-x: hidden;
    cursor: pointer;
}

.operator-string{
  position: absolute;
  left: 25%;
}

.room-floor{
    font-size: 15px;
    font-weight: 700;
}

.device{
  margin-left: 20px;
  text-transform: none;
  font-size: 12px;
  cursor: pointer;
}

.input-value>input{
  width: 100%;
  background-color: #dddddd;
  text-align: center;
}
