<div class="checkIfDataAvailabel" *ngIf="isDataAvailable">
  <div class="_1st-operand">
    <app-relational-operation
            [operation]='_1stOperand'
            [listOfDevicesInHouse]="listOfDevicesInHouse"
            [editHidden]="editHidden"
            [addOperationHidden]="true"
            (deleteOperationEvent)="_1stOperand_deleteOperation($event)"
            (addOperationEvent)="_1stOperand_addOperation()">
    </app-relational-operation>
  </div>
  <div class="operator">
    <p [hidden]="!editHidden">{{operator}}</p>
    <div class="dropdown" [hidden]="editHidden">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{operator}}
        <span class="caret" ></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" [hidden]="editHidden">
        <li><a>OR</a></li>
        <li><a>AND</a></li>
      </ul>
    </div>
  </div>
  <hr/>
  <div class="_2nd-operand">
    <app-relational-operation
            [operation]='_2ndOperand'
            [listOfDevicesInHouse]="listOfDevicesInHouse"
            [editHidden]="editHidden"
            [addOperationHidden]="true"
            (deleteOperationEvent)="_2ndOperand_deleteOperation($event)"
            (addOperationEvent)="_2ndOperand_addOperation()">
    </app-relational-operation>
  </div>
</div>
