<h2 class="page-header">Dashboard</h2>
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>room</h3>
                <div class="clearfix">
                    <div class="price pull-left">light</div>
                      <label class="switch pull-right">
                          <input type="checkbox" checked data-toggle="toggle">
                          <div class="slider round"></div>
                      </label>
                </div>
                <div class="clearfix">
                    <div class="price pull-left">light</div>
                      <label class="switch pull-right">
                          <input type="checkbox" checked data-toggle="toggle">
                          <div class="slider round"></div>
                      </label>
                </div>
                <div class="clearfix">
                    <div class="price pull-left">light</div>
                      <label class="switch pull-right">
                          <input type="checkbox" checked data-toggle="toggle">
                          <div class="slider round"></div>
                      </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>room</h3>
                <div class="clearfix">
                    <div class="price pull-left">light</div>
                      <label class="switch pull-right">
                          <input type="checkbox" checked data-toggle="toggle">
                          <div class="slider round"></div>
                      </label>
                </div>
                <div class="clearfix">
                    <div class="price pull-left">light</div>
                      <label class="switch pull-right">
                          <input type="checkbox" checked data-toggle="toggle">
                          <div class="slider round"></div>
                      </label>
                </div>
                <div class="clearfix">
                    <div class="price pull-left">light</div>
                      <label class="switch pull-right">
                          <input type="checkbox" checked data-toggle="toggle">
                          <div class="slider round"></div>
                      </label>
                </div>
            </div>
        </div>
    </div>
</div>
