.fa {
  cursor: pointer;
  color: auto;
  background-color: inherit;
  border: 0px;
}


.fa-plus-circle {
  color: #93c54b;
}

.checkbox-input {
  height: 30px;
  margin-right: 10px;
}
/*add rule*/

/*rule*/

.rule{
  margin-top: 50px;
}

.ruleName{
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.row, .rule-body{
  background-color: #f8f5f0;
  margin: 0;
  display: flex;
}

.scirpt-body>.col-md-4{
  padding: 40px 35px 0px 35px;
  background-color: #272c2f;
}


.time-date-picker{
  color: white;
}

.date-picker>p{
  margin-bottom: 0;
}

.time-date-picker>*>p{
  font-size: 20px;
}

.time-date-picker>*>input{
  background-color: inherit;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid rgba(158, 158, 158, 0.55);
  font-size: 15px;
  margin: 11px 0px;
  padding-bottom: 9px;
  width: 91%;
  cursor: pointer;
}


timepicker{
  float: left;
}

.radio>label{
  margin: 5px 11px 5px 0px;
  font-size: 17px;
}

.radio>label>input{
  top: 7px;
}

.btn-timepicker{
  float: left;
  padding: 12px 6px;
  margin: 24% 0px;
  background-color: #4CAF51;
}

.btn-timepicker:active{
  background-color: #4CAF51;
}


.time-picker, .repeat{
  margin: 20px 0;
}

.time-picker{
  border-bottom: 1px solid #696b6c;
  width: 91%;
}

.time-picker>p, .repeat>p{
  margin-bottom: -5px;
}

.from-time, .to-time{
  overflow: auto;
  margin: 10px 0px 1px 0px;
}


.to-time{
  margin-top: 5px;
}

.from-time>h4{
  font-size: 16px;
  float: left;
  margin: 2px 6px 5px 0px;
  padding: 0px;
  cursor: pointer;
}


.next-day{
  margin: 2px 0px 0px 10px;
  font-size: 16px;
  font-style: italic;
}

.to{
  font-size: 16px;
  float: left;
  padding: 0px;
  margin: 2px 30px 5px 0px;
  cursor: pointer;
}

.time{
  float: left;
}

.btn-time{
  background-color: inherit;
  border-radius: 0;
  font-size: 16px;
  text-align: left;
  padding: 0px;
  font-weight: 100;
}

.btn-to-time{
  margin-left: -22px;
  margin-right: 7px;
}



.btn-time:focus{
  outline: none;
}


.from-to-time-allDayUnChecked>.from-time>h4, .from-to-time-allDayUnChecked>.to-time>h4{
  cursor: pointer;
}



/*.from-to-time-allDayChecked{
  color: gray;
  cursor: not-allowed;
}*/

input:focus{
  outline: none;
}

.day-picker{
  margin-top: 16px;
}

.checkbox>label>input{
  top: -8px;
}

.all-day{
  background-color: inherit;
  text-transform: none;
  font-size: 17px;
  font-weight: 400;
  padding: 8px 5px;
}

.all-day-checkbox>label>input{
  top: 1px;
}

.deivce-picker{
 margin: 0;
 padding: 0;
}

.panel {
  margin-bottom: 40px;
  min-width: 600px;
  border: 0px;
  border-radius: 0;
}

.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  height: 60px;
  border: 0;
  border-radius: 0;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 28px;
  float:left;
}

h3 {
  float:left;
}

.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  background-color: inherit;
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: inherit;
  font-size: 20px;
  color: #777777;
  padding: 2px;
  margin: 0px;
  text-align: left;
}

.x-icon{
  float: right;
}

.panel-body-content {
  margin-left: 15px;
}

.panel-body-btn{
  float: left;
}

.panel-body-icon{
  float: left;
  margin-top: 7px;
}


.dropdown-toggle{
  background-color: inherit;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: lighter;
  text-transform: none;
  padding: 10px;
  float: left;
  color: #616161;
}

a {
  cursor: pointer;
  color: #383838;
}


.form-group{
  margin: 0;
}

.panel-footer{
  font-size: 13px;
  font-weight: 100;
  text-transform: none;
}


.time-btn-ok, .time-btn-clear, .repeat-btn-ok{
  height: 38px;
  width: 65px;
  line-height: 10px;
  margin: 3px 5px 12px 0px;
  margin-bottom: 12px;
}

.time-btn-ok{
  background-color: #4caf50;
}

.time-btn-clear{
  background-color: #f44336;
}


.rule{
  margin: 25px 15px 0px 25px;
}


/*rule*/


.modal-title {
  text-align: center;
}

.modal-body{
  margin: 0 auto;
  text-align: center;
}

.btn-modal {
  min-width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.form-group {
    float: left;
    margin-right: 20px;
}


.btn-add-rule {
    line-height: 0;
}

.edit-save{
  padding: 16px 11px 5px 0px;
  height: 65px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}


.btn-edit{
  float: right;
  margin-right: 5px;
}

.btn-edit>button{
  padding: 7px 15px;
  background-color: inherit;
}

.btn-edit>button:hover{
  padding: 7px 15px;
  background-color: #325d88;
}

 .btn-edit>button:focus{
   background-color: #325d88;
   border: 0px;
   border-radius: 0;
 }

 .btn-edit-save{
   float: right;
 }

 .btn-edit-save>button{
   padding: 7px 15px;
   background-color:  #4CAF50;
   color: white;
 }


.add-room{
  height: 52px;
}

.footer{
  width: 100%;
  height: 70px;
}
