<div class="row">
  <div class="col-md-4">
    <h3>Select room</h3>
    <div class="floor">
      <h4>Ground</h4>
      <p>Bedroom</p>
      <p>Livingroom</p>
    </div>
    <div class="floor">
      <h4>1st Floor</h4>
      <p>Bedroom</p>
      <p>Livingroom</p>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Select device</h3>
    <div class="device">
      <ul>
        <li>Light 1</li>
        <li>Light 2</li>
        <li>Light 3</li>
        <li>Light 4</li>
      </ul>
    </div>
  </div>
</div>
