<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to delete <b>{{floorDeletedName}}</b> ?</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-success btn-modal" (click)="smModal.hide()" (click)="deleteFloor()">Yes</button>
        <button type="button" class="btn btn-danger btn-modal" (click)="smModal.hide()">No</button>
      </div>
    </div>
  </div>
</div>


<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading" (click)="height = height ? 0 : el.scrollHeight">
      <h3 class="panel-title">HOME</h3>
    </div>
    <div
      class="card card-block card-header block" [style.height]="height + 'px'" #el>
      <div class="panel-body">
        <div class="row floor">
            <div class="list-group">
              <div class="list-floor" *ngFor="let floor of floors | reverse">
              <a class="list-group-item" (click)="getFloor(floor.name, floor._id)">
                <button type="button" class="fa fa-minus-circle" (click)="smModal.show()"></button> {{floor.name}}</a>
              </div>
              <div class="list-floor addFloor">
                <button type="button" class="fa fa-plus-circle fa-1x" (click)="checkClick=!checkClick"></button>
                <div class="form-group" [hidden]="checkClick">
                  <input  type="text"
                          placeholder="Floor Name"
                          [(ngModel)]="floorname" name="floorname"
                          class="form-control"
                          (keyup.enter)="addFloor(floorname)">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
