.then-actions{
  padding-left: 20px;
  margin-bottom: 17px;
  border-bottom: 1px solid #dfd7ca;
  color: #545454;
  margin-top: 60px;
}

.then-actions>h3{
  font-size: 22px;
}

.actions{
  border-bottom: 1px solid #dfd7ca;
}

.row{
  text-align: center;
  margin-left: 45px;
  font-size: 17px;
  color: #626262;
}

.action{
  font-weight: 800;
}
