<div class="col-md-8">
    <!-- user -->
    <div class="user">
      <div class="panel panel-primary panel-pricing">
        <div class="panel-heading">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <h3 class="userName">Camera</h3>
          <div class="x-icon" >
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row body">
          <img class="camera-stream" src="http://192.168.10.108:8080/cam.mjpg"/>
        </div>
      </div>
    </div>
    <!-- user -->


</div>
