<div class="test" *ngIf="isDataAvailable">
  <div class="_1st-operand">
    <app-relational-operation
            *ngIf="_1stOperandType=='RelationalOperation'"
            [operation]="_1stOperand"
            [listOfDevicesInHouse]="listOfDevicesInHouse"
            [editHidden]="editHidden"
            (deleteOperationEvent)="_1stOperand_deleteOperation($event)"
            (addOperationEvent)="_1stOperand_addOperation($event)">
    </app-relational-operation>
    <app-logical-operation-2nd-layer
            *ngIf="_1stOperandType=='LogicalOperation'"
            [operation]="_1stOperand"
            [listOfDevicesInHouse]="listOfDevicesInHouse"
            [editHidden]="editHidden"
            (deleteOperation) = "_1stOperand_deleteOperation($event)"
            (addOperation) = "_1stOperand_addOperation($event)">
    </app-logical-operation-2nd-layer>
  </div>
  <hr/>
  <div class="operator">
    <p [hidden]="!editHidden">{{operator}}</p>
    <div class="dropdown" [hidden]="editHidden">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{operator}}
        <span class="caret" ></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" [hidden]="editHidden">
        <li><a>OR</a></li>
        <li><a>AND</a></li>
      </ul>
    </div>
  </div>
  <hr/>
  <div class="_2nd-operand">
    <app-relational-operation
            *ngIf="_2ndOperandType=='RelationalOperation'"
            [operation]="_2ndOperand"
            [listOfDevicesInHouse]="listOfDevicesInHouse"
            [editHidden]="editHidden"
            (deleteOperationEvent)="_2ndOperand_deleteOperation($event)"
            (addOperationEvent)="_2ndOperand_addOperation($event)">
    </app-relational-operation>
    <app-logical-operation-2nd-layer
            *ngIf="_2ndOperandType=='LogicalOperation'"
            [operation]="_2ndOperand"
            [listOfDevicesInHouse]="listOfDevicesInHouse"
            [editHidden]="editHidden"
            (deleteOperation) = "_2ndOperand_deleteOperation($event)"
            (addOperation) = "_2ndOperand_addOperation($event)">
    </app-logical-operation-2nd-layer>
  </div>
</div>
